.classpath
.project
gradlew
gradlew.bat
.gradle/4.8.1/fileChanges/last-build.bin
.gradle/4.8.1/fileHashes/fileHashes.bin
.gradle/4.8.1/fileHashes/fileHashes.lock
.gradle/4.8.1/taskHistory/taskHistory.bin
.gradle/4.8.1/taskHistory/taskHistory.lock
.gradle/5.5.1/gc.properties
.gradle/5.5.1/fileHashes/fileHashes.lock
.gradle/5.5.1/executionHistory/executionHistory.bin
.gradle/5.5.1/executionHistory/executionHistory.lock
.gradle/5.5.1/fileChanges/last-build.bin
.gradle/5.5.1/fileHashes/fileHashes.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
bin/main/Main$Parking.class
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.gradle/vcsWorkingDirs/gc.properties
.settings/org.eclipse.buildship.core.prefs
bin/main/Main.class
bin/main/Main$Delivery.class
bin/main/Main$Header.class
bin/main/Main$Informations.class
bin/main/Main$Intersection.class
bin/main/Main$Query.class
bin/main/Main$Road.class
